image: Visual Studio 2019
matrix:
  fast_finish: true
environment:
  APPVEYOR_YML_DISABLE_PS_LINUX: true
branches:
  except:
    - /dependabot\/.*/
skip_commits:
  files:
    - "*.md"
    - "LICENSE"
    - ".github/**/*.yml"

install:
  - git submodule update --init
  - cmd: |
      cinst python3 -n
      cinst transifex-client

build: off
test: off

build_script:
  - pwsh: ./build.ps1 --target=CI --verbosity=Diagnostic

cache:
  - "tools -> .build/dotnet-tools.json,setup.cake,.build/sonarcloud.cake"
