---
Title: Cake.Transifex
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class="container-fluid">
    <h1>What is it?</h1>
    <p>
        Cake.Transifex is an addin for the Cake Build script adding support for working with the localization service
        Transifex.
        This addin requires that the transifex client is already installed and is available as `tx`.
    </p>

    <h2>Where to get it</h2>
    <p>
        Officially published versions are available on
        <a href="https://www.nuget.org/packages/Cake.Transifex/" target="_blank">
            NuGet
        </a>.
        While development versions are made available using the following nuget end point:
        <a href="https://ci.appveyor.com/nuget/cake-transifex">
            https://ci.appveyor.com/nuget/cake-transifex
        </a>
    </p>

    <h3>Cake support</h3>
    <p>
        Starting from version 1.0.0 of Cake.Transifex, only Cake 1.0.0 and higher
        is supported.
    </p>
    <p>
        This addin makes use of the .NET Standard 2.0 framework, which should work
        on both .NET Core 2.0+, and .NET Framework 4.6+.
    </p>
</div>
