---
Title: Cake.Transifex
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class="container-fluid">
	<h1>What is it?</h1>
    <p>
        Cake.Transifex is an addin for the Cake Build script adding support for working with the localization service Transifex.
        This addin requires that the transifex client is already installed and is available as `tx`.
    </p>

    <h2>Where to get it</h2>
    <p>
        Officially published versions are available on
        <a href="https://www.nuget.org/packages/Cake.Transifex/" target="_blank">
            NuGet
        </a>.
        While development versions are made available using the following nuget end point:
        <a href="https://www.myget.org/F/cake-contrib/api/v2">
            https://www.myget.org/F/cake-contrib/api/v2
        </a>
    </p>
</div>
