---
Title: Cake.Transifex
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class="container-fluid">
	<h1>What is it?</h1>
    <p>
        Cake.Transifex is an addin for the Cake Build script adding support for working with the localization service Transifex.
        This addin requires that the transifex client is already installed and is available as `tx`.
    </p>

    <h2>Where to get it</h2>
    <p>
        Officially published versions are available on
        <a href="https://www.nuget.org/packages/Cake.Transifex/" target="_blank">
            NuGet
        </a>.
        While development versions are made available using the following nuget end point:
        <a href="https://www.myget.org/F/cake-contrib/api/v2">
            https://www.myget.org/F/cake-contrib/api/v2
        </a>
    </p>

    <h3>Cake support</h3>
    <p>
        This addin supports multiple frameworks and with that multiple Cake versions
        The following is a list of the Cake versions this addin is expected to work with.
    </p>
    <ul>
        <li>
            Targeting .NET 4.5, supports Cake version 0.16.2-0.21.0.
        </li>
        <li>
            Targeting .NET 4.6, supports Cake version 0.22.0-0.25.0
        </li>
        <li>
            Targeting .NET standard 1.6, supports Cake version 0.22.0-0.25.0 (version 0.3.0 of Cake.Transifex supports Cake version 0.16.2-0.21.0)
        </li>
        <li>
            Targeting .NET standard 2.0, supports Cake version 0.26.0+ (Starting from version 0.5.0 of Cake.Transifex).
        </li>
    </ul>
</div>
