name: Build

on:
  push:
    branches:
      - master
      - develop
      - "release/**"
      - "hotfix/**"
      - "feature/**"
    tags:
      - "*"
    paths-ignore:
      - "README.md"
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-18.04, macos-latest]
    env:
      AZURE_PASSWORD: ${{ secrets.AZURE_PASSWORD }}
      AZURE_SOURCE: ${{ secrets.AZURE_SOURCE }}
      AZURE_USER: ${{ secrets.AZURE_USER }}
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      GITTER_ROOM_ID: ${{ secrets.GITTER_ROOM_ID }}
      GITTER_TOKEN: ${{ secrets.GITTER_TOKEN }}
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      NUGET_SOURCE: "https://api.nuget.org/v3/index.json"
      TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
      TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
      TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
      TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
      WYAM_ACCESS_TOKEN: ${{ secrets.WYAM_ACCESS_TOKEN }}
      WYAM_DEPLOY_BRANCH: "gh-pages"
      WYAM_DEPLOY_REMOTE: ${{ github.event.repository.html_url }}

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Fetch all tags and branches
        run: git fetch --prune --unshallow
      - name: Install Transifex Client
        if: ${{ matrix.os == 'ubuntu-18.04' }} # We do not need it for anything else
        run: sudo apt-get install transifex-client -y
      - name: Cache Tools
        uses: actions/cache@v3.0.10
        with:
          path: tools
          key: ${{ runner.os }}-tools-${{ hashFiles('recipe.cake') }}
      - name: Remove local nuget
        if: ${{ runner.os == 'Linux' }}
        run: sudo rm /usr/bin/nuget
      - name: Build Addin
        uses: cake-build/cake-action@v1
        with:
          script-path: recipe.cake
          target: CI
          verbosity: Diagnostic
          cake-version: 0.38.5
          cake-bootstrap: true
      - name: Upload artifacts
        uses: actions/upload-artifact@v3.1.1
        with:
          name: ${{ matrix.os }}-artifacts
          path: |
            BuildArtifacts/report.html
            BuildArtifacts/packages/**/*.nupkg
            BuildArtifacts/**/coverlet/*.xml
